<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #071952;
        color: #ffffff;
        font-size: 1.05rem;
      }

      .non-selectable {
        user-select: none;
        -moz-user-select: none; /* Firefox */
        -webkit-user-select: none; /* Safari and Chrome */
        -ms-user-select: none; /* Internet Explorer/Edge */
      }
    </style>
    <script>
      document.addEventListener("contextmenu", (event) =>
        event.preventDefault()
      );

      // count refreshment
      localStorage.clear()
    </script>
  </head>
  <body class="non-selectable">
    <div class="container">
      <!-- <h1>Thank You !!! <%= //count %></h1> -->
      <h1>Thank You !!!</h1>
    </div>
  </body>
</html>
